/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do fundo da página */
body {
    background-color: #000000; /* Fundo preto */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

/* Tela inicial */
.start-screen {
    text-align: center;
    position: absolute;
    z-index: 1; /* Garante que o botão esteja acima de outros elementos */
}

/* Estilo do botão */
.reveal-button {
    background-color: #000000; /* Cor de fundo do botão */
    border: 2px solid #000000; /* Bordas com cor azul */
    padding: 20px 40px; /* Tamanho do botão */
    font-size: 24px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    font-family: 'Arial', sans-serif;
    text-transform: uppercase; /* Texto em letras maiúsculas */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 10px; /* Bordas arredondadas */
    transition: all 0.3s ease-in-out; /* Transição suave para efeitos de hover */
}

.reveal-button:hover {
    background-color: #000000; /* Muda a cor de fundo ao passar o mouse */
    color: black; /* Muda a cor do texto ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho do botão ao passar o mouse */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra com efeito de brilho azul */
}

.reveal-button:active {
    transform: scale(1.05); /* Efeito de pressionar o botão */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7); /* Sombra mais intensa ao clicar */
}

/* Texto abaixo do botão */
.reveal-text {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
}

/* Container para os perfis */
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
    display: none; /* Perfis escondidos inicialmente */
}

/* Perfil */
.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    width: 250px;
    height: 400px;
    margin: 0 30px;
}

.profile:hover {
    transform: scale(1.1);
}

/* Avatar do perfil */
.avatar {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.avatar:hover img {
    transform: scale(1.1);
}

/* Nome do perfil */
.name a {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.name a:hover {
    color: #000000;
}

/* Badges do perfil */
.badges img {
    width: 30px;
    margin: 5px;
}

/* Ajustes de alinhamento dos perfis */
.left {
    align-self: center;
}

.right {
    align-self: center;
}

.bottom {
    align-self: center;
}
